#displayInputs{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.titleContact{
    color:var(--couleurThird);
}


.submit{
    width: 30%;
    padding: 3px 0;
    font-size: 1.1em;
    color: var(--couleurPrincipalPair2);
    background-color: var(--couleurThird);
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
}

.submit:hover{
    color: var(--couleurThird);
    background-color: var(--couleurSecondaryPair1);
}