
a{
  text-decoration: none;
  color: var(--couleurPrincipalPair2);
  width: 250px;
  height: 154px;
}

#mainProjects{
    width: inherit;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
    
#titleProjects{
    color: var(--couleurThird);
}

#titleContact{
  color: var(--couleurThird);
  font-size: 1.7em;
}

#gridProjects{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#projet{
    width: 250px;
    height: 154px;
    background-image: url('../../images/projetx2.png');
    background-size: cover;
    border: 2px solid var(--couleurPrincipalPair2);
    border-radius: 8px;
}

#contactProjet{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    gap: 15px;
}


.linkToProject{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}


/* "amination" css du text */
.animProject {
    position: relative;
    padding: 0;
    width: 250px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }
  .contentAnim {
    opacity: 0;
    font-size: 1.2em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3f4e4fb0;
    width: 250px;
    height: 154px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
  }
  .animProject .contentAnim:hover {
    opacity: 1;
  }
  .animProject .contentAnim .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .animProject .contentAnim:hover .text {
    opacity: 1;
    transform: translateY(25px);
    -webkit-transform: translateY(25px);
    color: var(--couleurThird);
  }

  .animProject .contentAnim .textP {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .animProject .contentAnim:hover .textP {
    opacity: 1;
    transform: translateY(35px);
    -webkit-transform: translateY(35px);
    color: var(--couleurThird);

  }




  /* All device 768 à 900px  */
@media all and (max-width: 900px){

  #gridProjects{
    grid-template-columns: repeat(2, 1fr);
  }

}

/* All device 480 à 767 px */
@media all and (max-width: 767px){

  #gridProjects{
    grid-template-columns: repeat(1, 1fr);
  }

  #mainProjects{
  margin-bottom: 20px;
  }

}