.ItemNavBar{
 margin: 10px;

}


.ItemNavBar a{
    text-decoration: none;
    color: var(--couleurThird);
}

.navlinkActive {
    text-decoration: none;
    color: var(--couleurSecondaryPair1);
    font-weight: 600;
}