.App {
  text-align: center;
  background-color: var(--couleurPrincipalPair1);
  color: var(--couleurPrincipalPair2);
  height: 100vh;
}

/* All device 480 à 767 px */
@media all and (max-width: 767px){

  .App {
    min-height: 100vh;
    height: auto;
  }

}