
#mainHome{
width: inherit;
height: 100%;
display: flex;
flex-flow: row wrap;
align-items: center;
}

#columnLeft{
    width: 48%;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
}

#columnRight{
    width: 48%;
    
}

#titleHome{
    color: var(--couleurThird);
    
}

#presentationHome{
    text-align: left;
    color: var(--couleurThird);
    font-size: 1em;
}

#imgHome{
    width: 123%;
}

/* All device 480 à 767 px */
@media all and (max-width: 767px){

    #mainHome{
        width: inherit;
        height: inherit;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }

    #columnLeft{
        width: 100%;
        align-items: center;
    }
    #columnRight{
        margin-top: 60px;
        width: 100%;
    }
}
