#mainContact{
    width: inherit;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    }
    
    #columnLeft{
        width: 50%;
        height: 300px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: start;
    }
    
    #columnRight{
        width: 50%;
    }

    #displayImg{
        width: 100%; 
        display: flex;
        flex-flow: row nowrap;
        justify-content: end;
        align-items: center;
    }

    .divContactInformation{
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: start;
    }
    
    #titleContact{
        color: var(--couleurThird);
    }
    
    #textContact{
        text-align: left;
        color: var(--couleurThird);
        margin-bottom: 40px;
    }
    
    #imgContact{
        width: 90%; 
    }

    .divSocialMediaDisplay{
        margin-top: 60px;
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        justify-content: start;
        height: 45px;
    }

    .logoDisplay{
        width: 45px;

    }
    
    .divLinkContactDisplay{
        height: 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .linkContactDisplay{
        color: var(--couleurThird);
        height: auto;
        text-align: left;
    }

    .linkContactDisplay:hover{
        text-decoration: underline;
    }

/* All device 480 à 767 px */
@media all and (max-width: 767px){

    #mainContact{
        flex-flow: column nowrap;
        align-items: center;
    }

    #columnLeft{
        width: 100%;
        flex-flow: column nowrap;
        
    }
    
    #columnRight{
        width: 100%;
    }
    #imgContact{
        width: 60%; 
    }
    #displayImg{
        margin-top: 60px;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .divContactInformation{
        align-items: center;
    }


}
