


.logo{
    font-size: 1em;
    font-weight: bold;
    color: var(--couleurThird);
}

#headerLogo{
    width: 41px;
    height: 41px;
    border: 2px solid var(--couleurThird);
}

.Header{
    border-bottom: 2px solid var(--couleurThird);
    padding: 10px 15px;
    background-color: var(--couleurPrincipalPair2);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* All device 480 à 767 px */
@media all and (max-width: 767px){

    .flex{
        flex-flow: column nowrap;
    }
  
}