


.logo{
    font-size: 1em;
    font-weight: bold;
    color: var(--couleurThird);
}

#headerLogo{
    
    width: 41px;
    height: 41px;
}

.Header{
    border-bottom: 2px solid var(--couleurThird);
    padding: 10px 15px;
    background-color: var(--couleurPrincipalPair2);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}