:root{
  --couleurPrincipalPair1: #2C3639;
  --couleurPrincipalPair2: #3F4E4F;
  --couleurSecondaryPair1: #A27B5C;
  --couleurSecondaryPair2: rgb(255, 189, 105);
  --couleurThird: #DCD7C9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}